h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 1440px;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.header {
  padding: 24px 156px;
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* --------------------------------header-------------------- */
.header-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation-links {
  font-weight: 500;
  color: #2e2f42;
}
.header-special-link {
  margin-left: 76px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-list {
  display: flex;
}
.header-list :not(:last-child) {
  margin-right: 40px;
}
.address-list {
  display: flex;
}
.address-list :not(:last-child) {
  margin-right: 40px;
}
.logo-first-part {
  color: #4d5ae5;
}
.header-links:hover,
.header-links:focus {
  color: #404bbf;
}
.mail-tel {
  font-style: normal;
  color: #434455;
}
/* --------------------------------Hero----------------------- */
.hero-section {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  width: 1440px;
  height: 600px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.second-container {
  margin: 120px 156px;
}
.section-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-items {
  margin-right: 24px;
}
.section-items:last-child {
  margin-right: 0;
}
.desc-titles {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  margin-bottom: 8px;
}
.desc-paragraph {
  color: #434455;
  width: 264px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*=================== section 2 ===========================*/
.third-section-container {
  margin: 0 156px 120px;
}
.introdution {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.workers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.employees {
  background-color: white;
}
.employees:not(:last-child) {
  margin-right: 24px;
}
.workers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-section-list {
  display: flex;
}
.third-section-items:not(:last-child) {
  margin-right: 24px;
}

.name-of-workers {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.workers-activity {
  margin-bottom: 32px;
  color: #434455;
  text-align: center;
}
.our-team {
  background-color: #f4f4fd;
  padding: 120px 156px;
  height: 732px;
}
.workers-items:not(:last-child) {
  margin-right: 24px;
}
.footer {
  background: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 156px;
  height: 310px;
}
.footer-full-logo {
  display: inline-block;
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  color: #e7e9fc;
  width: 264px;
}
.list-button {
  display: block;
  padding: 12px 24px;
  background: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.list-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #2e2f42;
}
.section-desc {
  color: #434455;
}
.btn {
  cursor: pointer;
  font-family: inherit;
}
.portfolio-section {
  margin-top: 96px;
}
.buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.buttons:not(:last-child) {
  margin-right: 24px;
}
.images-container {
  margin-bottom: 120px;
  width: 1156px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
  margin-right: auto;
}
.images-list {
  display: flex;
  flex-wrap: wrap;
}
.image-item {
  margin-right: 24px;
  margin-bottom: 48px;
}
.image-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.image-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-container {
  padding-bottom: 100px;
  padding-left: 156px;
  padding-top: 100px;
}
.portfolio-footer {
  background: #2e2f42;
  height: 310px;
}
.portfolio-footer-text {
  color: #e7e9fc;
  width: 264px;
}
